/*OVERALL*/

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

figure {
    margin: 0;
}

.hide {
    visibility: hidden;
}

/*grid*/
body {
    background-color: #FAF8F8;
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo logo logo menu";
    margin: 2vw;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*logo*/
.logo {
    grid-area: logo;
}

.logo img {
    width: 45vw;
}


/*menu, burgermenu*/
.menu {
    grid-area: menu;
}

.burger-button img {
    width: 10vw;
    margin-left: 41vw;
}

#menu {
    background-color: #FAF8F8;
    position: absolute;
    top: 70px;
    height: 100vh;
    width: 100vw;
    margin: -2vw;
}

#menu li {
    list-style: none;
    text-align: center;
    padding-top: 8vw;

}

#menu li a {
    color: #403D3D;
    text-decoration: none;
    font-family: Corbel;
    font-size: 1.2rem;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: 5vw;
}

/*tekst, p, farver etc.*/
p {
    font-family: Corbel;
    color: #403D3D;
}

/*FORSIDE*/

/*ACCORDION*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 528px){

    .logo img{
        width: 27vw;
    }

    /*MENU*/

    .hide {
        visibility: visible;
    }

    .burger-button {
        display: none;
    }

    #menu {
        background-color: transparent;
        display: grid;

    }

    #menu li {
        display: inline-block;
        padding: 0;

    }

    #menu li a {
        padding: 0;
        font-size: 0.1rem;
    }

}

/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 1025px){

    .logo img{
        width: 20vw;
    }

}
