/*OVERALL*/

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

figure {
    margin: 0;
}

.hide {
    visibility: hidden;
}

.sog_skjul {
    display: none;
}

h1{
    width: 10vw;
}

/*grid*/
body {
    background-color: #FAF8F8;
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo logo logo menu";
    margin: 2vw;
    height: 12vh;

}

main {
    grid-area: main;
    width: 100vw;
}

footer {
    grid-area: footer;
    width: 100vw;
}

/*logo*/
.logo {
    grid-area: logo;
}

.logo img {
    width: 45vw;
}


/*menu, burgermenu*/
.menu {
    grid-area: menu;
}

.burger-button img {
    width: 10vw;
    margin-left: 41vw;
}

#menu {
    background-color: #FAF8F8;
    position: absolute;
    top: 70px;
    height: 160vh;
    width: 100vw;
    margin: -2vw;
}

#menu li {
    list-style: none;
    text-align: center;
    padding-top: 8vw;

}

#menu li a {
    color: #403D3D;
    text-decoration: none;
    font-family: Corbel;
    font-size: 1.2rem;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: 5vw;
}

/*tekst, p, farver etc.*/
p {
    font-family: 'Montserrat', sans-serif;
    color: #403D3D;
}

/*footer*/

.some_footer img{
    width: 10vw;
}

/*FORSIDE*/

.splash img{
    width: 100vw;

    }

/*ACCORDION*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796";

}

/*** SEARCH ****/

.search-container {
    position: relative;
    top: 20px;
    text-align: right;
}

input[type=text] {
  padding: 5px;
  margin-top: 5px;
  font-size: 13px;
  border: none;
}


/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 528px){

    .logo img{
        width: 27vw;
    }

/*menu, burgermenu*/

.burger-button img {
    width: 6vw;
    margin-left: 63vw;
}

#menu {
    top: 100px;
    height: 150vh;
}

#menu li {
    padding-top: 7vw;

}

#menu li a {
    font-family: Corbel;
    font-size: 1.1rem;
}


}



/*-----------------------------MEDIAQUERY FOR WEBSITE------------------------------------*/

@media only screen and (min-width: 1025px){

    .logo img{
        width: 20vw;
    }

    .hide {
        visibility: visible;
    }

    #menu {
        background-color: transparent;
        margin: 0;
        width: initial;
    }


    header{
        display: inline-grid;
    }

    .burger-button {
        display: none;
    }

    #menu li{
        padding: 0;
        display: inline-grid;
        position: relative;
        top: -108px;
        left:360px;
    }

    #menu li a{
        font-size: 0.8rem;
        padding-left: 4vw;
    }

    .sog_skjul{
        display: initial;
    }

    header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo menu menu search";
    margin: 2vw;

}
    .search-container {
        grid-area: search;
    }

    .search_pic img{
        width: 24px;
        position: absolute;
        top: 0.4vw;
        right: 0;
    }

    main{
        margin-top: -3vw;
    }

}
