/*OVERALL*/

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

figure {
    margin: 0;
}

.hide {
    visibility: hidden;
}

.sog_skjul {
    visibility: hidden;
}

/*grid*/
body {
    background-color: #FAF8F8;
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo logo logo menu";
    margin: 2vw;
    height: 12vh;

}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*logo*/
.logo {
    grid-area: logo;
}

.logo img {
    width: 45vw;
}


/*menu, burgermenu*/
.menu {
    grid-area: menu;
}

.burger-button img {
    width: 10vw;
    margin-left: 41vw;
}

#menu {
    background-color: #FAF8F8;
    position: absolute;
    top: 70px;
    height: 160vh;
    width: 100vw;
    margin: -2vw;
    z-index: 5;
}

#menu li {
    list-style: none;
    text-align: center;
    padding-top: 8vw;

}

#menu li a {
    color: #403D3D;
    text-decoration: none;
    font-family: Corbel;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: 5vw;
}

/*tekst, p, farver etc.*/
p {
    font-family: 'Montserrat', sans-serif;
    color: #403D3D;
}

a {
    font-family: 'Montserrat', sans-serif;
}

/*footer*/

.some_footer img {
    width: 10vw;
}

/*FORSIDE*/

.splash img {
    width: 100vw;
    position: relative;
    z-index: 0;

}

/*ACCORDION*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796";

}

/*** SEARCH ****/

.search-container {
    position: relative;
    top: 20px;
    right: -200px;
}

input[type=text] {
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    border: none;
}

.undermenu li {
    text-align: center;
    border-bottom: 1px solid black;
}

.undermenu a {
    text-decoration: none;
    color: #403D3D;
    line-height: 50px;
}

/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 528px) {

    .logo img {
        width: 27vw;
    }

    /*menu, burgermenu*/

    .burger-button img {
        width: 6vw;
        margin-left: 63vw;
    }

    #menu {
        top: 100px;
        height: 150vh;
    }

    #menu li {
        padding-top: 7vw;

    }

    #menu li a {
        font-size: 1.1rem;
    }

    .undermenu ul {
        margin-top: 0rem;
    }

}



/*-----------------------------MEDIAQUERY FOR WEBSITE------------------------------------*/

@media only screen and (min-width: 1025px) {

    .logo img {
        width: 20vw;
    }

    .hide {
        visibility: visible;
    }

    #menu {
        background-color: none;
        margin: 0;
        z-index: -5;
    }


    header {
        display: inline-grid;
    }

    .burger-button {
        display: none;
    }

    #menu li {
        padding: 0;
        display: inline-grid;
        position: relative;
        top: -108px;
        left: 340px;
    }

    #menu li a {
        font-size: 0.8rem;
        padding-left: 4vw;
    }

    .sog_skjul {
        visibility: visible;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-areas:
            "logo menu menu search";
        margin: 2vw;

    }

    .search-container {
        grid-area: search;
    }

    .search_pic img {
        width: 24px;
        position: absolute;
        top: 0.4vw;
        left: 10.5vw;
    }

    main {
        margin-top: -3vw;
    }


    .undermenu li {
        border-bottom: none;
        display: inline-block;
        padding: 0rem 1rem;
    }

    .undermenu ul {
        text-align: right;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }

    h1 {
        margin-top: 4rem;
    }



}
