/*OVERALL*/

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

figure {
    margin: 0;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

.indhold p {
    line-height: 1.5rem;
    margin: 4vw 4vw 2vw 4vw;
}

.indhold h4 {
    margin: 4vw 4vw 4vw 4vw;
}

.indhold h3 {
    margin: 5vw 4vw 5vw 4vw;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

.overskrift {
    text-align: center;
}

/*grid*/
body {
    background-color: #FAF8F8;
    padding: 0;
    margin: 0;
}


#menu a.current {
    font-weight: bolder;
    color: black;

}

.undermenu a.current {
    font-weight: bolder;
    color: black;

}


header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo logo logo menu";
    margin: 2vw;
    height: 12vh;

}

main {
    grid-area: main;
    width: 100vw;
}

footer {
    grid-area: footer;
    width: 100vw;
}

/*logo*/
.logo {
    grid-area: logo;
}

.logo img {
    width: 45vw;
}


/*menu, burgermenu, undermenu */
.menu {
    grid-area: menu;
}

.burger-button img {
    width: 10vw;
    margin-left: 41vw;
}

#menu {
    background-color: #FAF8F8;
    position: absolute;
    top: 70px;
    height: 160vh;
    width: 100vw;
    margin: -2vw;
}

#menu li {
    list-style: none;
    text-align: center;
    padding-top: 8vw;

}

#menu li a {
    color: #403D3D;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: 5vw;
}

.burgermenu_fix {
    background-color: #FAF8F8;
    position: fixed;
    padding: 2vw;
    margin: 0;
}

.undermenu li {
    text-align: center;
    border-bottom: 1px solid black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.undermenu a {
    text-decoration: none;
    color: #403D3D;
    line-height: 50px;
}

/*tekst, p, farver etc.*/
p {
    font-family: 'Montserrat', sans-serif;
    color: #403D3D;
}

/*footer*/
.footer_udengrid {
    padding: 10vw;
    background-color: white;
}

.overstebox_footer {
    margin-bottom: 10vw;
    display: flex;
    flex-wrap: wrap;
}

.adresse_footer {
    flex-grow: 1;
    flex-basis: 200px;
}

.kontakt_footer {
    flex-grow: 1;
    flex-basis: 200px;
}

.some_footer {
    margin-bottom: 10vw;
}

.somewrapper_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.somewrapper_footer a {}

.andet_footer {
    margin-bottom: 10vw;
}

.some_footer img {
    width: 10vw;
}

.footer_geomuseum .overskrift_footer {
    color: #26A6A1;
}

.footer_kkm .overskrift_footer {
    color: #3A7287;
}

.footer_stevns .overskrift_footer {
    color: #1283AB;
}

.brodtekst_footer {
    color: #403D3D;
}

/*FORSIDE*/

.splash img {
    width: 100vw;
    position: relative;
    z-index: -1;
}


/*placering på kort*/

.geomuseum_lokation img {
    position: absolute;
    width: 32vw;
    top: 126vw;
    left: 50vw;
    animation: pulse 2s ease-out infinite;
}

.stevnsklint_lokation img {
    position: absolute;
    width: 26vw;
    top: 127vw;
    left: 25vw;
    animation: pulse 2s ease-out infinite;
}

.koldkrig_lokation img {
    position: absolute;
    width: 54vw;
    top: 121vw;
    left: 63vw;
    animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
    }

    50% {

        transform: scale(1);
    }

    100% {
        transform: scale(0.97);
    }
}

/*pop op vidue på kort*/

figcaption {
    position: absolute;
    font-size: 10px;
    padding: 0.6vw;
    padding-left: 0.5rem;
    width: 23vw;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

figcaption p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#geomuseum_lokation figcaption {
    left: 57vw;
    top: 132vw;
    background-color: #26A6A1;
}

#stevnsklint_lokation figcaption {
    left: 19vw;
    top: 110vw;
    background-color: #1283AB;
}

#koldkrig_lokation figcaption {
    left: 70vw;
    top: 104vw;
    background-color: #3A7287;
}



/*ACCORDION*/
.accordion {
    background-color: #FAF8F8;
    color: #403D3D;
    cursor: pointer;
    padding: 20px 0 20px 0px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-right: 10px;
}

.accordion.active:after {
    content: "\2796";

}


/*** SEARCH ****/

.sog_skjul {
    display: none;
}

.search-container {
    position: relative;
    top: 13px;
    text-align: right;
}

input[type=text] {
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    border: none;
}


/***om os **/

.overskrift_omos {
    padding-left: 3vw;
}

/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 528px) {

    .logo img {
        width: 27vw;
    }

    /*menu, burgermenu*/

    .burger-button img {
        width: 6vw;
        margin-left: 63vw;
    }

    #menu {
        top: 100px;
    }

    #menu li {
        padding-top: 7vw;

    }

    #menu li a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
    }

    #undermenu ul {
        margin-top: 0;
    }


    /*forside - placering på kort*/
    .geomuseum_lokation img {
        width: 32vw;
        top: 122vw;
        left: 46vw;

    }

    .stevnsklint_lokation img {
        width: 25vw;
        top: 122vw;
        left: 23vw;
    }

    .koldkrig_lokation img {
        width: 54vw;
        top: 117vw;
        left: 63vw;
    }

    /*pop up vinduer*/

    figcaption {
        font-size: 18px;
        padding: 0.5vw;
        width: 20vw;
        padding-left: 1rem;
    }

    #geomuseum_lokation figcaption {
        left: 53vw;
        top: 128vw;
        background-color: #26A6A1;
    }

    #stevnsklint_lokation figcaption {
        left: 20vw;
        top: 108vw;
        background-color: #1283AB;
    }

    #koldkrig_lokation figcaption {
        left: 72vw;
        top: 103vw;
        background-color: #3A7287;
    }


    .overskrift_omos {
        padding-left: 4vw;
        border-bottom: 1px solid black;
    }

}



/*-----------------------------MEDIAQUERY FOR WEBSITE------------------------------------*/

@media only screen and (min-width: 1270px) {

    #menu li a:hover {
        font-weight: bold;
        color: black;
    }

    .undermenu li a:hover {
        font-weight: bold;
        color: black;
    }

    .logo img {
        width: 18vw;
    }

    .hide {
        visibility: visible;
        pointer-events: initial;
    }

    #menu {
        background-color: transparent;
        margin: 0;
        width: initial;
        height: 0;
    }


    header {
        display: inline-grid;
        position: static;

    }

    .burger-button {
        display: none;
    }

    #menu li {
        padding: 0;
        display: inline-grid;
        position: relative;
        top: -115px;
        left: 330px;

    }

    #menu li a {
        font-size: 0.8rem;
        padding-left: 0vw;
        padding: 0 12px 0 18px;
    }

    .undermenu li {
        border-bottom: none;
        display: inline-block;
        padding: 0rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9rem;
    }

    .undermenu ul {
        text-align: right;
        margin-bottom: 1rem;
        margin-top: 1.5vw;
    }

    .sog_skjul {
        display: initial;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-areas:
            "logo menu menu search";
        margin: 2vw;

    }

    .search-container {
        grid-area: search;
        z-index: -10;
    }

    .search_pic img {
        width: 24px;
        position: absolute;
        top: 0.4vw;
        right: 0;
    }

    main {
        margin-top: -3vw;
    }

    /*    BORDER I HEADER*/
    .border {
        width: 1px;
        height: 60px;
        background-color: #F45D2F;
        transform: rotate(20deg);
        margin-top: -35px;
        display: inline-block;
    }

    .border_kold {
        width: 1px;
        height: 60px;
        background-color: #3A7287;
        transform: rotate(20deg);
        margin-top: -35px;
        display: inline-block;
    }

    .border_stevns {
        width: 1px;
        height: 60px;
        background-color: #1283AB;
        transform: rotate(20deg);
        margin-top: -35px;
        display: inline-block;
    }

    .border_geo {
        width: 1px;
        height: 60px;
        background-color: #26A6A1;
        transform: rotate(20deg);
        margin-top: -35px;
        display: inline-block;
    }

    .overskrift {
        text-align: left;
    }



    /*    footer */

    .footer_udengrid {
        padding: 5vw 10vw 5vw 10vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        background-color: #FAF8F8;
    }

    .overstebox_footer {
        margin-bottom: 0vw;
        display: flex;
        flex-wrap: wrap;
    }

    .adresse_footer {
        display: inline-block;
    }

    .kontakt_footer {
        display: inline-block;
    }

    .some_footer {
        margin-bottom: 0vw;
        display: block;
    }

    .somewrapper_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .andet_footer {
        margin-bottom: 0vw;
        display: inline-block;
    }

    .some_footer img {
        width: 3vw;
    }

    .overskrift_footer {
        color: #F45D2F;
    }

    /*    placering på kort  */

    .geomuseum_lokation img {
        width: 18vw;
        top: 42.5vw;
        left: 59vw;
        cursor: pointer;
    }

    .stevnsklint_lokation img {
        width: 14vw;
        top: 43vw;
        left: 46vw;
        cursor: pointer;
    }

    .koldkrig_lokation img {
        width: 30vw;
        top: 40vw;
        left: 76vw;
        cursor: pointer;
    }

    /*pop op vidue på kort*/


    figcaption {
        opacity: 0;
        font-size: 18px;
        padding: 0.3vw;
        padding-left: 1vw;
        width: 12vw;

    }

    figure:hover figcaption {
        opacity: 1;
    }


    #geomuseum_lokation figcaption {
        left: 62vw;
        top: 34vw;
    }

    #stevnsklint_lokation figcaption {
        left: 43vw;
        top: 35vw;
    }

    #koldkrig_lokation figcaption {
        left: 80vw;
        top: 32vw;
    }

    .overskrift_omos {
        padding-left: 4vw;
        border-bottom: 1px solid black;
    }


    /*----------GRID STRUKTUR----------*/

    main {
        display: grid;
        grid-template-areas:
            "billede billede";
        "overskrift undermenu";
        "tekst tekst";
        margin: 0;
        padding: 0;
    }

    .indhold figure img {
        grid-area: billede;
        margin-bottom: 7vw;
        padding: 0;
        width: 100vw;

    }

    .overskrift {
        grid-area: overskrift;
        position: absolute;
        top: 35vw;
        width: 100%;
        border-bottom: 2px #403D3D solid;
        color: #403D3D;
        padding-left: 1vw;
    }

    .undermenu {
        grid-area: undermenu;
        position: absolute;
        top: 35vw;
        right: 0;

    }

    .indhold p {
        grid-area: tekst;
        color: #403D3D;
        margin-left: 7vw;
        padding-right: 30vw;
    }


}

/*-----------------------------MEDIAQUERY FOR WEBSITE 1600px------------------------------------*/

@media only screen and (min-width: 1300px) {

    #menu li {
        top: -120px;
        left: 490px;

    }


}
