/*OVERALL*/

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

figure {
    margin: 0;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

h1 {
    width: 10vw;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

/*grid*/
body {
    background-color: #FAF8F8;
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo logo logo menu";
    margin: 2vw;
    height: 12vh;

}

main {
    grid-area: main;
    width: 100vw;
}

footer {
    grid-area: footer;
    width: 100vw;
}

/*logo*/
.logo {
    grid-area: logo;
}

.logo img {
    width: 45vw;
}


/*menu, burgermenu, undermenu */
.menu {
    grid-area: menu;
}

.burger-button img {
    width: 10vw;
    margin-left: 41vw;
}

#menu {
    background-color: #FAF8F8;
    position: absolute;
    top: 70px;
    height: 160vh;
    width: 100vw;
    margin: -2vw;
}

#menu li {
    list-style: none;
    text-align: center;
    padding-top: 8vw;

}

#menu li a {
    color: #403D3D;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: 5vw;
}

.burgermenu_fix {
    background-color: #FAF8F8;
    position: fixed;
    padding: 2vw;
    margin: 0;
}

#undermenu li {
    text-align: center;
    border-bottom: 1px solid black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#undermenu a {
    text-decoration: none;
    color: #403D3D;
    line-height: 50px;
}

/*tekst, p, farver etc.*/
p {
    font-family: 'Montserrat', sans-serif;
    color: #403D3D;
}

/*footer*/
.footer_udengrid {
    padding: 10vw;
    background-color: white;
}

.overstebox_footer {
    margin-bottom: 10vw;
    display: flex;
    flex-wrap: wrap;
}

.adresse_footer {
    flex-grow: 1;
    flex-basis: 200px;
}

.kontakt_footer {
    flex-grow: 1;
    flex-basis: 200px;
}

.some_footer {
    margin-bottom: 10vw;
}

.somewrapper_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.somewrapper_footer a {}

.andet_footer {
    margin-bottom: 10vw;
}

.some_footer img {
    width: 10vw;
}

.overskrift_footer {
    color: #F45D2F;
}

.brodtekst_footer {
    color: #403D3D;
}

/*FORSIDE*/

.splash img {
    width: 100vw;
    position: relative;
    z-index: -1;
}

.geomuseum_lokation img {
    position: absolute;
    width: 30vw;
    top: 41vw;
    left: 54vw;
}

.stevnsklint_lokation img {
    position: absolute;
    width: 30vw;
    top: 43vw;
    left: 56vw;
}

.koldkrig_lokation img {
    position: absolute;
    width: 30vw;
    top: 40vw;
    left: 70vw;
}

/*ACCORDION*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796";

}

/*** SEARCH ****/

.sog_skjul {
    display: none;
}

.search-container {
    position: relative;
    top: 9px;
    text-align: right;
}

input[type=text] {
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    border: none;
}



/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 528px) {

    .logo img {
        width: 27vw;
    }

    /*menu, burgermenu*/

    .burger-button img {
        width: 6vw;
        margin-left: 63vw;
    }

    #menu {
        top: 100px;
    }

    #menu li {
        padding-top: 7vw;

    }

    #menu li a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
    }

    #undermenu ul {
        margin-top: 0;
    }

}



/*-----------------------------MEDIAQUERY FOR WEBSITE------------------------------------*/
@media only screen and (min-width: 1025px) {
    .logo img {
        width: 20vw;
    }

    .hide {
        visibility: visible;
        pointer-events: initial;
    }

    #menu {
        background-color: transparent;
        margin: 0;
        width: initial;
        height: 0;
    }


    header {
        display: inline-grid;
        position: static;

    }

    .burger-button {
        display: none;
    }

    #menu li {
        padding: 0;
        display: inline-grid;
        position: relative;
        top: -120px;
        left: 190px;

    }

    #menu li a {
        font-size: 0.8rem;
        padding-left: 0vw;
        padding: 0 12px 0 18px;
    }

    #undermenu li {
        border-bottom: none;
        display: inline-block;
        padding: 0rem 1rem;
    }

    #undermenu ul {
        text-align: right;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }

    .sog_skjul {
        display: initial;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-areas:
            "logo menu menu search";
        margin: 2vw;

    }

    .search-container {
        grid-area: search;
        z-index: -999;
    }

    .search_pic img {
        width: 24px;
        position: absolute;
        top: 0.4vw;
        right: 0;
    }

    main {
        margin-top: -3vw;
    }

    .border {
        width: 1px;
        height: 60px;
        background-color: #F45D2F;
        transform: rotate(20deg);
        margin-top: -35px;
        display: inline-block;
    }

    /*    footer */

    .footer_udengrid {
        padding: 5vw 10vw 5vw 10vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        background-color: #FAF8F8;
    }

    .overstebox_footer {
        margin-bottom: 0vw;
        display: flex;
        flex-wrap: wrap;
    }

    .adresse_footer {
        display: inline-block;
    }

    .kontakt_footer {
        display: inline-block;
    }

    .some_footer {
        margin-bottom: 0vw;
        display: block;
    }

    .somewrapper_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .andet_footer {
        margin-bottom: 0vw;
        display: inline-block;
    }

    .some_footer img {
        width: 3vw;
    }

    .overskrift_footer {
        color: #F45D2F;
    }

}


@media only screen and (min-width: 1270px) {


    #menu li {
        top: -120px;
        left: 360px;
    }


}

/*-----------------------------MEDIAQUERY FOR WEBSITE 1600px------------------------------------*/

@media only screen and (min-width: 1600px) {

    #menu li {
        top: -120px;
        left: 620px;

    }


}
