<<<<<<< HEAD
/*** ACCORDION ***/

=======
/*OVERALL*/

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

figure {
    margin: 0;
}

.hide {
    visibility: hidden;
}

.sog_skjul {
    visibility: hidden;
}

/*grid*/
body {
    background-color: #FAF8F8;
    padding: 0;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo logo logo menu";
    margin: 2vw;

}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*logo*/
.logo {
    grid-area: logo;
}

.logo img {
    width: 45vw;
}


/*menu, burgermenu*/
.menu {
    grid-area: menu;
}

.burger-button img {
    width: 10vw;
    margin-left: 41vw;
}

#menu {
    background-color: #FAF8F8;
    position: absolute;
    top: 70px;
    height: 100vh;
    width: 100vw;
    margin: -2vw;
}

#menu li {
    list-style: none;
    text-align: center;
    padding-top: 8vw;

}

#menu li a {
    color: #403D3D;
    text-decoration: none;
    font-family: Corbel;
    font-size: 1.2rem;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: 5vw;
}

/*tekst, p, farver etc.*/
p {
    font-family: Corbel;
    color: #403D3D;
}

/*FORSIDE*/

/*ACCORDION*/
>>>>>>> origin/master
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
<<<<<<< HEAD
=======
}

/*** SEARCH ****/

.search-container {
     position: relative;
    top: 20px;
    right: -200px;
}

input[type=text] {
  padding: 5px;
  margin-top: 5px;
  font-size: 13px;
  border: none;
}


/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 528px){

    .logo img{
        width: 27vw;
    }

    /*MENU*/

    .hide {
        visibility: visible;
    }

    header{
        display: inline-grid;
    }

    .burger-button {
        display: none;
    }

    #menu {
        background-color: transparent;
        margin: 0;
        left: 280px;

    }

    #menu li {
        padding: 0;
        display: inline-grid;
        position: relative;
        top: -87px;
        left: 230px;


    }

    #menu li a {
        padding-left: 2vw;
        font-size: 0.7rem;

    }

}



/*-----------------------------MEDIAQUERY FOR WEBSITE------------------------------------*/

@media only screen and (min-width: 1025px){

    .logo img{
        width: 20vw;
    }

    #menu li{
        left:250px;
    }

    #menu li a{
        font-size: 0.8rem;
        padding-left: 3vw;
    }

    .sog_skjul{
        visibility: visible;
    }
    header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "logo menu menu search";
    margin: 2vw;

}
    .search-container {
        grid-area: search;
    }


>>>>>>> origin/master
}

/*** GENERELT ***/
